<div class="navbar">
    <div class="logo">
        {% load static %}
        <img src="{% static '/img/logo.png' %}" alt="Travel App Logo">
        <span class="company-name">GHUMNA JAM!</span>
    </div>

    <div class="nav-links">
        <a href="{% url 'travel_app:home' %}" class="nav-link">Home</a>
        <a href="{% url 'travel_app:discover' %}" class="nav-link">Discover</a>
        <a href="{% url 'travel_app:wishlist' %}" class="nav-link">Wishlist</a>
        <a href="{% url 'travel_app:review' %}" class="nav-link">Review</a>
    </div>

    <div class="auth-section">
        {% if user.is_authenticated %}
            <span class="welcome-message">Welcome, {{ user.username }}!</span>

            <a href="{% url 'travel_app:profile' %}" class = "auth-button">Profile</a>
            <form action="{% url 'travel_app:logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="auth-button">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'travel_app:authView' %}" class="auth-button">Signup</a>
            <a href="{% url 'travel_app:login' %}" class="auth-button">Login</a>
        {% endif %}
    </div>
</div>
